body {
    /* background-color: midnightblue; */
    background-image: url("../memphis-colorful/memphis-colorful.png");
    font-family: 'Playfair Display', serif;
    font-weight: bolder; 
}
h1 {
    text-align: center;
    color: midnightblue;
    font-size: 70px;
    border-bottom: 3px dotted midnightblue;
}

.main-content {
    color: midnightblue;
    height: 550px;
    font-size: 24px;
}

.col-md-6 {
    border: 4px solid mediumaquamarine;
}

.instructions {
    text-align: center;
    line-height: 50px;
    text-transform: uppercase
}

.neon-img {
    margin-left: 15%;
    /* margin-top: 15%; */
}

.game-text {
    text-align: center;
    margin-top: 25%;
}

#outcome {
    color: hotpink;
    font-size: 200%;
}